body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin: 15px 0 5px;
    font-weight: bold;
}

textarea, input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    resize: none;
    height: 100px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

button {
    flex: 1;
    padding: 10px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
}

button#generateKeyButton{
    background-color: #6C757D;
}

button#encryptButton {
    background-color:#dda9e4;
}

button#decryptButton {
    background-color: #dda9e4;
}


button#resetButton {
    background-color: #dda9e4;
}

button:hover {
    opacity: 0.9;
}

#output {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f8f8f8;
}

#output p {
    margin: 5px 0;
}

#output span {
    font-weight: bold;
    color: #333;
}
